#liv-best-sell h3 {
    color: maroon;
}
#mci-best-sell h3 {
    color: rgb(94, 155, 180);
}
#int-best-sell h3 {
    color: darkblue;
}
#rma-best-sell h3 {
    color: black;
}
#bay-best-sell h3 {
    color: red;
}